<template>
    <!-- MAIN CARD -->
<div class="card">
  <div class="card-header">

    <a class="btn btn-app" v-on:click="searchToggle">
      <i class="fas fa-search"></i> Filter
    </a>
    <a class="btn btn-app"  v-on:click="newToggle">
      <i class="fas fa-plus"></i> New Car
    </a>
    <!-- /.card -->
    <!-- Horizontal Form -->
    <div class="card" :style="{display:search_toggle}">
      <!-- /.card-header -->
      <!-- form start -->
      <form class="form-horizontal" >
          <div class="card-header">

                <div class="row">

                    <div class="col-sm-2">
                      <!-- select -->
                      <div class="form-group">
                        <select class="form-control form-control-sm" v-model="filter_type">
                          <option value="where">All</option>
                          <option value="orwhere">Any</option>
                        </select>
                      </div>

                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary btn-sm" v-on:click="addFilter"><i class="fas fa-plus"></i></button>
                    </div>
                  </div>
          </div>
        <div class="card-body">

          <div class="row"
            v-for="(filter,index) in filters" v-bind:key="index">
            <div class="col-sm-3">
                <div class="form-group">
                    <select class="form-control form-control-sm" v-model="filter.form1">
                        <option value="name">Car Name</option>
                        <option value="plate_no">Plate No</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" name="name" v-model="filter.form2">
                </div>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary btn-sm" v-on:click="delFilter"><i class="fas fa-minus"></i></button>
            </div>
          </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <button type="button" class="btn btn-danger btn-xs" v-on:click="resFilter">Reset</button>
          <button type="button" class="btn btn-primary btn-xs float-right" v-on:click="creFilter">Search</button>
        </div>
        <!-- /.card-footer -->
      </form>
    </div>
    <!-- /.card -->
    <div class="card" :style="{display:new_toggle}">
      <!-- /.card-header -->
      <!-- form start -->
      <form>
        <div class="card-body">

            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control form-control-sm" name="name" v-model="newItem.name" >
            </div>
            <div class="form-group">
              <label>Plate No.</label>
              <input type="text" class="form-control form-control-sm" v-model="newItem.plate_no">
            </div>
        </div>

        <!-- /.card-body -->
        <div class="card-footer">
          <button type="button" class="btn btn-primary btn-xs float-right" v-on:click="addItem">Add</button>
        </div>
        <!-- /.card-footer -->
      </form>
    </div><!-- /new toogle -->
        <div class="card" :style="{display:edit_toggle}">
      <!-- /.card-header -->
      <!-- form start -->
      <form>
        <div class="card-body">

            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control form-control-sm" name="name" v-model="editItem.name" >
            </div>
            <div class="form-group">
              <label>Plate No.</label>
              <input type="text" class="form-control form-control-sm" v-model="editItem.plate_no">
            </div>
        </div>

        <!-- /.card-body -->
        <div class="card-footer">
          <button type="button" class="btn btn-danger btn-xs" v-on:click="cancelEdit">cancel</button>
          <button type="button" class="btn btn-primary btn-xs float-right" v-on:click="updateItem">Save</button>
        </div>
        <!-- /.card-footer -->
      </form>
    </div><!-- /new toogle -->
  </div>
  <div class="card-body">

    <div class="card card-primary card-outline">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-10">
            <h3 class="card-title">
              Cars List
            </h3>
          </div>
          <div class="col-sm-2">
            <div class="btn-group float-right">

            <export-excel
                class   = "btn btn-default btn-xs	"
                :data   = "cars"
                :fields = "export_fields"
                type    = "xls"
                name    = "data.xls"><i class="fas fa-save"></i>Excel
            </export-excel>
            <export-excel
                class   = "btn btn-default btn-xs"
                :data   = "cars"
                :fields = "export_fields"
                type    = "csv"
                name    = "data.csv"><i class="fas fa-save"></i>CSV
            </export-excel>
            </div>
          </div>
        </div>

      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th style="width:2px;">No.</th>
                <th>Name</th>
                <th>Plate No.</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(car,index) in cars" :key="index">
                <td>{{index+1}}</td>
                <td>{{car.name}}</td>
                <td>{{car.plate_no}}</td>
                <td>
                  <a class="badge bg-primary" v-on:click="edit(car.id)"><i class="fas fa-edit" ></i></a>
                  <a class="badge bg-danger" v-on:click="del(car.id)"><i class="fas fa-trash" ></i></a>
                </td>
              </tr>

            </tbody>
          </table>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-1">
            <select class="form-control form-control-sm" @change="fetchData" v-model="totalRow">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
            </select>
          </div>
          <div class="col-sm-3" v-if="cars.length>0">
            <p class="text-muted float-left">View {{pagination.from}} - {{pagination.to}} of {{pagination.total}}</p>
          </div>
          <div class="col-sm-3" v-else>
            <p class="text-muted float-left">No data found</p>
          </div>
          <div class="col-sm-8">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item"><a class="page-link" href="javascript:void(0);" @click="setPage(0,pagination.first_page_url)"><span aria-hidden="true">&laquo;</span></a></li>
                <li v-if="currentPage > 1" class="page-item"><a href="javascript:void(0);" class="page-link" @click="setPage((parseInt(currentPage) - 1),pagination.prev_page_url)">{{parseInt(currentPage) - 1}}</a></li>
                <li class="page-item"><a style="background-color:#C0C0C0;" class="page-link" href="javascript:void(0);">{{parseInt(currentPage)}}</a></li>
                <li v-if="currentPage < (pagination.last_page)" class="page-item"><a href="javascript:void(0);" class="page-link" @click="setPage((parseInt(currentPage) + 1),pagination.next_page_url)">{{parseInt(currentPage) + 1}}</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);" @click="setPage((parseInt(totalPages) -1),pagination.last_page_url)"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
          </div>

        </div>

      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>

<!-- END MAIN CARD -->
</template>
<script>

import excel from 'vue-excel-export'
import Swal from 'sweetalert2/dist/sweetalert2.js'
import Stringify from 'vue-stringify'
import 'sweetalert2/src/sweetalert2.scss'
Vue.use(excel)

const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 3000,
    timerProgressBar: true,
    onOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer)
      toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
  })
export default {


   props: ['route'],

   data(){
       return{

           cars : [],
           newItem: {name:'',plate_no:''},
           editItem: {id:'',name:'',plate_no:''},
           url: '/api/car/fetch',
           add_route: this.route,
           search_toggle: 'none',
           new_toggle: 'none',
           edit_toggle: 'none',
           filter_type : 'orwhere',
           toggle: false,
           toggle2: false,
           toggle3:false,
           filters: [{
               form1: 'name',
               form2: ''
           }],
           pagination: [],
           currentPage : 0,
           totalRow: 10,
           export_fields: {
                'Name': 'name',
                'Plate No': 'plate_no'
            },

       }
   },

    created(){

        this.fetchData();
    },
   methods: {
       fetchData(){
          let vm = this;
          var totalRow = vm.totalRow;
          var url = '/api/car/fetch/'+totalRow;

           axios.get(url)
            .then(response => {

                vm.cars = response.data.data;
                this.makePagination(response.data);

            })
            .catch(function(error){
                console.log(error);
            })

       },
       fetchNewData(){
           let vm = this;
           const qs = require ('qs');
           axios.post('/api/car/filtered',qs.stringify({
              data: this.filters,
              fType: this.filter_type
            }))
            .then(response => {

                vm. cars = response.data.data;
                this.makePagination(response.data);
            })
            .catch(function(error){
                console.log(error);
            })
       },
       view(url){
         window.location.href = url;
       },
       edit(id){
           let vm = this;
           if(this.edit_toggle = 'none'){
               this.edit_toggle = 'block';
           }
           this.cars.filter(function(elem){
            if(elem.id == id) {
              vm.editItem.id = elem.id;
              vm.editItem.name = elem.name;
              vm.editItem.plate_no = elem.plate_no;

            }
        });

       },
       cancelEdit(){
           this.edit_toggle = 'none';
       },
       del(id){
         let vm = this;
         Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
            if (result.value) {
              axios.delete('/api/car/delete/'+id)
            .then(response => {
                //console.log(response);
                if(response.data == 'success'){
                  Swal.fire(
                    'Deleted!',
                    'Data deleted',
                    'success'
                  )
                }else{
                  Swal.fire(
                    'Failed!',
                    'Your data cannot be deleted.',
                    'error'
                  )
                }

                 this.fetchData();
            })
            .catch(function(error){
                console.log(error);
            })

            }
          })

       },
       makePagination(data){
         let pagination = {
           current_page: data.meta.current_page,
           last_page: data.meta.last_page,
           next_page_url: data.links.next,
           prev_page_url: data.links.prev,
           first_page_url: data.links.first,
           last_page_url:data.links.last,
           from:data.meta.from,
           to:data.meta.to,
           total:data.meta.total

         }
         this.pagination = pagination
         this.currentPage = pagination.current_page
       },
       fetchPaginate(url){
          let vm = this;
           axios.get(url)
            .then(response => {
                vm.cars = response.data.data;
                console.log(response.data);
                this.makePagination(response.data);
            })
            .catch(function(error){
                console.log(error);
            })
       },
       setPage: function(pageNumber,url){
        this.currentPage = pageNumber;
        this.fetchPaginate(url);
      },
       searchToggle: function(event){
           if(this.toggle){
               this.search_toggle = 'none';
               this.toggle = false;
           }else{
               this.search_toggle = 'block';
               this.new_toggle = 'none';
               this.toggle = true;
           }

       },
       newToggle: function(event){
           if(this.toggle2){
               this.new_toggle = 'none';
               this.toggle2 = false;
           }else{
               this.new_toggle = 'block';
               this.search_toggle = 'none';
               this.toggle2 = true;
           }

       },
       addFilter(){
           this.filters.push({
               form1:'name',
               form2:''
               });
       },
       delFilter(index){
           this.filters.splice(index,1);
       },
       resFilter(){
           this.filters.splice(0);
           this.fetchData();
       },
       creFilter(){
           var qString = "->where('";
           var contain = '';
           var type = this.filter_type;
           var length = this.filters.length;

           if(length > 0){
               for (var i = 0; i < length; i++) {
                    qString = qString + this.filters[i].form1 +"'"+  ", 'like' , '%" + this.filters[i].form2 + "%')" ;
                    if(i < length-1){
                        qString = qString + '->' + type + "('";
                    }
                }
           }

           this.fetchNewData();

       },
       addItem(){
           let vm = this;
           const qs = require ('qs');
           axios.post('/api/car/create',qs.stringify({
              car:vm.newItem,
            }))
            .then(response => {

                vm.cars = response.data.data;
                Swal.fire(
                    'Created!',
                    'Data has been created',
                    'success'
                  )
                  this.fetchData();

            })
            .catch(function(error){
                console.log(error);
            })

       },
       updateItem(){
           let vm = this;
           const qs = require ('qs');
           axios.post('/api/car/update',qs.stringify({
              car:vm.editItem,
            }))
            .then(response => {

                vm.cars = response.data.data;
                Swal.fire(
                    'Updated!',
                    'Data has been update',
                    'success'
                  )
                  this.fetchData();
                  this.edit_toggle = 'none';

            })
            .catch(function(error){
                console.log(error);
            })

       },

   },

}
</script>
<style lang="scss" scoped>
  td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>
