<template>
    <!-- MAIN CARD -->
<div class="card">
  <div class="card-header">

    <a class="btn btn-app" v-on:click="searchToggle">
      <i class="fas fa-search"></i> Filter
    </a>
    <a class="btn btn-app"  v-on:click="newToggle">
      <i class="fas fa-plus"></i> New Log
    </a>
    <!-- /.card -->
    <!-- Horizontal Form -->
    <div class="card" :style="{display:search_toggle}">
      <!-- /.card-header -->
      <!-- form start -->
      <form class="form-horizontal" >
          <div class="card-header">

                <div class="row">

                    <div class="col-sm-2">
                      <!-- select -->
                      <div class="form-group">
                        <select class="form-control form-control-sm" v-model="filter_type">
                          <option value="where">All</option>
                          <option value="orwhere">Any</option>
                        </select>
                      </div>

                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary btn-sm" v-on:click="addFilter"><i class="fas fa-plus"></i></button>
                    </div>
                  </div>
          </div>
        <div class="card-body">

          <div class="row"
            v-for="(filter,index) in filters" v-bind:key="index">
            <div class="col-sm-3">
                <div class="form-group">
                    <select class="form-control form-control-sm" v-model="filter.form1">
                        <option value="name">Car Name</option>
                        <option value="month">Month</option>
                        <option value="plate_no">Plate No</option>
                        <option value="driver">Driver</option>
                    </select>
                </div>
            </div>
            <div v-if="filter.form1 != 'month'" class="col-sm-4">
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" v-model="filter.form2">
                </div>
            </div>
            <div v-else class="col-sm-4">
                <div class="form-group">
                    <select class="form-control form-control-sm" v-model="filter.form2">
                        <option value="01">Jan</option>
                        <option value="02">Feb</option>
                        <option value="03">Mar</option>
                        <option value="04">Apr</option>
                        <option value="05">May</option>
                        <option value="06">Jun</option>
                        <option value="07">Jul</option>
                        <option value="08">Aug</option>
                        <option value="09">Sep</option>
                        <option value="10">Oct</option>
                        <option value="11">Nov</option>
                        <option value="12">Dec</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-primary btn-sm" v-on:click="delFilter"><i class="fas fa-minus"></i></button>
            </div>
          </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <button type="button" class="btn btn-danger btn-xs" v-on:click="resFilter">Reset</button>
          <button type="button" class="btn btn-primary btn-xs float-right" v-on:click="creFilter">Search</button>
        </div>
        <!-- /.card-footer -->
      </form>
    </div>
    <!-- /.card -->
    <div v-if="cars.length > 0" class="card" :style="{display:new_toggle}" >
      <!-- /.card-header -->
      <!-- form start -->
      <form>
        <div  class="card-body">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Car</label>
                        <select class="form-control form-control-sm" v-model="newItem.car">
                            <option v-for="(car,index) in cars" :key="index" v-bind:value="car">{{car.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Plate No.</label>

                        <input type="text" class="form-control form-control-sm" v-model="newItem.car.plate_no" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Depart Date/Time:</label>
                        <date-picker v-model="newItem.depart_dt" :config="options"></date-picker>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Return Date/Time:</label>
                        <date-picker v-model="newItem.return_dt" :config="options"></date-picker>
                    </div>
                </div>
            </div>
            <div class="form-group">
              <label>Purpose</label>
              <input type="text" class="form-control form-control-sm" v-model="newItem.purpose">
            </div>
            <div class="form-group">
              <label>Driver</label>
              <input type="text" required class="form-control form-control-sm" v-model="newItem.driver">
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Depart Milleage</label>
                        <input type="number" required step="0.01" class="form-control form-control-sm" v-on:change="calcMilleage" v-model="milleage">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Return Milleage</label>
                        <input type="number" required step="0.01" class="form-control form-control-sm" v-on:change="calcMilleage" v-model="milleage2">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Total Milleage</label>
                        <input type="text" class="form-control form-control-sm" v-model="totalMilleage" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group">
              <label>Destination</label>
              <input type="text" required class="form-control form-control-sm" v-model="newItem.destination">
            </div>
            <div class="form-group">
                <label>Remark</label>
                <textarea class="form-control" rows="3" placeholder="Enter ..." v-model="newItem.remark"></textarea>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Resit No.</label>
                        <input type="text" class="form-control form-control-sm" v-model="newItem.resit_no">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Liter</label>
                        <input type="text" class="form-control form-control-sm" v-model="newItem.liter">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Claim</label>
                        <input type="text" class="form-control form-control-sm" v-model="newItem.claim">
                    </div>
                </div>
            </div>

        </div>

        <!-- /.card-body -->
        <div class="card-footer">
          <button type="button" class="btn btn-primary btn-xs float-right" v-on:click="addItem">Add</button>
        </div>
        <!-- /.card-footer -->
      </form>
    </div><!-- /new toogle -->
    <div v-else class="card" :style="{display:new_toggle}">
        <div class="card-body">
            <p style="text-align:center;">Please add car first!</p>
        </div>
    </div>
    <div class="card" :style="{display:edit_toggle}">
      <!-- /.card-header -->
      <!-- form start -->
      <form>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                      <label>Car</label>
                        <select class="form-control" v-model="editItem.car">
                            <option v-for="(car,index) in cars" :key="index" v-bind:value="car">{{car.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Plate No.:</label>
                        <input type="text" class="form-control form-control-sm" v-model="editItem.car.plate_no" disabled>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Depart Date/Time</label>
                        <date-picker v-model="editItem.depart_dt" :config="options"></date-picker>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Return Date/Time</label>
                        <date-picker v-model="editItem.return_dt" :config="options"></date-picker>
                    </div>
                </div>
            </div>
            <div class="form-group">
              <label>Purpose</label>
              <input type="text" class="form-control form-control-sm" v-model="editItem.purpose">
            </div>
            <div class="form-group">
              <label>Driver</label>
              <input type="text" class="form-control form-control-sm" v-model="editItem.driver">
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Depart Milleage</label>
                        <input type="number" required step="0.01" class="form-control form-control-sm" v-on:change="calcMilleage" v-model="milleage">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Return Milleage</label>
                        <input type="number" required step="0.01" class="form-control form-control-sm" v-on:change="calcMilleage" v-model="milleage2">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Total Milleage</label>
                        <input type="text" class="form-control form-control-sm" v-model="totalMilleage" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group">
              <label>Destination</label>
              <input type="text" class="form-control form-control-sm" v-model="editItem.destination">
            </div>
            <div class="form-group">
                <label>Remark</label>
                <textarea class="form-control" rows="3" v-model="editItem.remark" ></textarea>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Resit No.</label>
                        <input type="text" class="form-control form-control-sm" v-model="editItem.resit_no">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Liter</label>
                        <input type="text" class="form-control form-control-sm" v-model="editItem.liter">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Claim</label>
                        <input type="text" class="form-control form-control-sm" v-model="editItem.claim">
                    </div>
                </div>
            </div>


        </div>

        <!-- /.card-body -->
        <div class="card-footer">
          <button type="button" class="btn btn-danger btn-xs" v-on:click="cancelEdit">cancel</button>
          <button type="button" class="btn btn-primary btn-xs float-right" v-on:click="updateItem">Save</button>
        </div>
        <!-- /.card-footer -->
      </form>
    </div><!-- /new toogle -->
  </div>
  <div class="card-body">

    <div class="card card-primary card-outline">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-10">
            <h3 class="card-title">
              Logs List
            </h3>
          </div>
          <div class="col-sm-2">
            <div class="btn-group float-right">

            <export-excel
                class   = "btn btn-default btn-xs	"
                :data   = "logs"
                :fields = "export_fields"
                type    = "xls"
                name    = "data.xls"><i class="fas fa-save"></i>Excel
            </export-excel>
            <export-excel
                class   = "btn btn-default btn-xs"
                :data   = "logs"
                :fields = "export_fields"
                type    = "csv"
                name    = "data.csv"><i class="fas fa-save"></i>CSV
            </export-excel>
            </div>
          </div>
        </div>

      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered table-sm" v-columns-resizable>
            <thead>
              <tr>
                <th> No.</th>
                <th> Car</th>
                <th> Depart Date/Time</th>
                <th> Return Date/Time</th>
                <th> Purpose</th>
                <th> Driver</th>
                <th> Depart Milleage</th>
                <th> Return Milleage</th>
                <th> Milleage</th>
                <th> Destination</th>
                <th> Remark</th>
                <th> Resit No.</th>
                <th> Liter</th>
                <th> Claim</th>
                <th style="width:10px;"> Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(log,index) in logs" :key="index">
                <td>{{index+1}}</td>
                <td>{{log.name}}-{{log.plate_no}}</td>
                <td>{{log.depart_dt}}</td>
                <td>{{log.return_dt}}</td>
                <td>{{log.purpose}}</td>
                <td>{{log.driver}}</td>
                <td>{{log.depart_milleage}}</td>
                <td>{{log.return_milleage}}</td>
                <td>{{log.total_milleage}}</td>
                <td>{{log.destination}}</td>
                <td>{{log.remark}}</td>
                <td>{{log.resit_no}}</td>
                <td>{{log.liter}}</td>
                <td>{{log.claim}}</td>
                <td>
                  <a class="badge bg-primary" v-on:click="edit(log.id)"><i class="fas fa-edit" ></i></a>
                  <a class="badge bg-danger" v-on:click="del(log.id)"><i class="fas fa-trash" ></i></a>
                </td>
              </tr>
              <tr style="background-color:#f2f2f2; font-weight: bold;">
                  <td colspan="8" style="text-align: right;">Total Milleage</td>
                  <td>{{totalMilleage}}</td>
                  <td colspan="4" style="text-align: right;">Total Claim</td>
                  <td>{{totalClaim}}</td>
                  <td></td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-1">
            <select class="form-control form-control-sm" @change="fetchData" v-model="totalRow">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
            </select>
          </div>
          <div class="col-sm-3" v-if="logs.length>0">
            <p class="text-muted float-left">View {{pagination.from}} - {{pagination.to}} of {{pagination.total}}</p>
          </div>
          <div class="col-sm-3" v-else>
            <p class="text-muted float-left">No data found</p>
          </div>
          <div class="col-sm-8">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item"><a class="page-link" href="javascript:void(0);" @click="setPage(0,pagination.first_page_url)"><span aria-hidden="true">&laquo;</span></a></li>
                <li v-if="currentPage > 1" class="page-item"><a href="javascript:void(0);" class="page-link" @click="setPage((parseInt(currentPage) - 1),pagination.prev_page_url)">{{parseInt(currentPage) - 1}}</a></li>
                <li class="page-item"><a style="background-color:#C0C0C0;" class="page-link" href="javascript:void(0);">{{parseInt(currentPage)}}</a></li>
                <li v-if="currentPage < (pagination.last_page)" class="page-item"><a href="javascript:void(0);" class="page-link" @click="setPage((parseInt(currentPage) + 1),pagination.next_page_url)">{{parseInt(currentPage) + 1}}</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);" @click="setPage((parseInt(totalPages) -1),pagination.last_page_url)"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
          </div>

        </div>

      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>

<!-- END MAIN CARD -->
</template>
<script>

import excel from 'vue-excel-export'
import Swal from 'sweetalert2/dist/sweetalert2.js'
import 'sweetalert2/src/sweetalert2.scss'
import VueColumnsResizable from 'vue-columns-resizable';

Vue.use(VueColumnsResizable);
Vue.use(excel)

const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: false,
    timer: 3000,
    timerProgressBar: true,
    onOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer)
      toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
  })
export default {


   props: ['route'],
   data(){
       return{

           cars:[],
           logs : [],
           newItem: {car:{},depart_dt:'',return_dt:'',
                        purpose:'',driver:'',depart_milleage:'',return_milleage:'',total_milleage:'',
                        destination:'',remark:'',resit_no:'',liter:'',claim:''},
           editItem: {id:'',car:{},car_id:'',depart_dt:'',return_dt:'',
                        purpose:'',driver:'',depart_milleage:'',return_milleage:'',
                        total_milleage:'',destination:'',remark:'',resit_no:'',liter:'',claim:''},
           totalMilleage:0,
           totalClaim:0,
           milleage:0,
           milleage2:0,
           url: '/api/log/fetch',
           add_route: this.route,
           search_toggle: 'none',
           new_toggle: 'none',
           edit_toggle: 'none',
           filter_type : 'orwhere',
           toggle: false,
           toggle2: false,
           toggle3:false,
           filters: [{
               form1: 'name',
               form2: ''
           }],
           pagination: [],
           currentPage : 0,
           totalRow: 10,
           export_fields: {
                'Name': 'name',
                'Plate No': 'plate_no'
            },
          options: {

            format: 'YYYY-MM-DD h:mm:ss',
            useCurrent: false,
            showClear: true,
            showClose: true,
            }

       }
   },

    created(){

        this.fetchData();
        this.getCars();
    },
   methods: {
       calcMilleage(){
        let vm = this;
        vm.totalMilleage = vm.milleage2 - vm.milleage;
       },
       calcTotal(){
           let vm = this;
           var totalMilleage = 0;
           var totalClaim = 0;
           this.logs.forEach(element => {
               totalMilleage = totalMilleage+parseFloat(element.total_milleage);
               totalClaim = totalClaim+parseFloat(element.claim);
           });
           vm.totalMilleage = totalMilleage;
           vm.totalClaim = totalClaim;

       },
       getCars(){
        let vm = this;
        axios.get('/api/log/carlist')
            .then(response => {

                vm.cars = response.data.data;
                vm.newItem.car = vm.cars[0];


            })
            .catch(function(error){
                console.log(error);
            })
       },
       fetchData(){
          let vm = this;
          var totalRow = vm.totalRow;
          var url = '/api/log/fetch/'+totalRow;

           axios.get(url)
            .then(response => {

                vm.logs = response.data.data;
                this.makePagination(response.data);
                this.calcTotal();

            })
            .catch(function(error){
                console.log(error);
            })

       },
       fetchNewData(){
           let vm = this;
           const qs = require ('qs');
           axios.post('/api/log/filtered',qs.stringify({
              data: this.filters,
              fType: this.filter_type,
              row: this.totalRow
            }))
            .then(response => {

                vm. logs = response.data.data;
                this.makePagination(response.data);
                this.calcTotal();
            })
            .catch(function(error){
                console.log(error);
            })
       },
       view(url){
         window.location.href = url;
       },
       edit(id){
           let vm = this;
           if(this.edit_toggle = 'none'){
               this.edit_toggle = 'block';
           }
           this.logs.filter(function(elem){
            if(elem.id == id) {
              vm.editItem.id = elem.id;
              vm.editItem.name = elem.name;
              vm.editItem.plate_no = elem.plate_no;
              vm.editItem.car_id = elem.car_id;
              vm.editItem.depart_dt = elem.depart_dt;
              vm.editItem.return_dt = elem.return_dt;
              vm.milleage = elem.depart_milleage;
              vm.milleage2 = elem.return_milleage;
              vm.totalMilleage = elem.total_milleage;
              vm.editItem.purpose = elem.purpose;
              vm.editItem.driver = elem.driver;
              vm.editItem.destination = elem.destination;
              vm.editItem.remark = elem.remark;
              vm.editItem.resit_no = elem.resit_no;
              vm.editItem.liter = elem.liter;
              vm.editItem.car = vm.findCar(elem.plate_no);
            }
        });

       },
       findCar(plate_no){
        var car = {};
        let vm = this
        vm.cars.filter(function(elem){
            if(elem.plate_no == plate_no) {
                car = elem;
            }
        });
        return car;
       },
       cancelEdit(){
           this.edit_toggle = 'none';
       },
       del(id){
         let vm = this;
         Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
            if (result.value) {
              axios.delete('/api/log/delete/'+id)
            .then(response => {
                //console.log(response);
                if(response.data == 'success'){
                  Swal.fire(
                    'Deleted!',
                    'Data deleted',
                    'success'
                  )
                }else{
                  Swal.fire(
                    'Failed!',
                    'Your data cannot be deleted.',
                    'error'
                  )
                }

                 this.fetchData();
            })
            .catch(function(error){
                console.log(error);
            })

            }
          })

       },
       makePagination(data){
         let pagination = {
           current_page: data.current_page,
           last_page: data.last_page,
           next_page_url: data.next,
           prev_page_url: data.prev,
           first_page_url: data.first_page_url,
           last_page_url:data.last_page_url,
           from:data.from,
           to:data.to,
           total:data.total

         }
         this.pagination = pagination
         this.currentPage = pagination.current_page
       },
       fetchPaginate(url){
          let vm = this;
           axios.get(url)
            .then(response => {
                vm.cars = response.data.data;
                this.makePagination(response.data);
                this.calcTotal();
            })
            .catch(function(error){
                console.log(error);
            })
       },
       setPage: function(pageNumber,url){
        this.currentPage = pageNumber;
        this.fetchPaginate(url);
      },
       searchToggle: function(event){
           if(this.toggle){
               this.search_toggle = 'none';
               this.toggle = false;
           }else{
               this.search_toggle = 'block';
               this.new_toggle = 'none';
               this.toggle = true;
           }

       },
       newToggle: function(event){
           if(this.toggle2){
               this.new_toggle = 'none';
               this.toggle2 = false;
           }else{
               this.new_toggle = 'block';
               this.search_toggle = 'none';
               this.toggle2 = true;
           }

       },
       addFilter(){
           this.filters.push({
               form1:'name',
               form2:''
               });
       },
       delFilter(index){
           this.filters.splice(index,1);
       },
       resFilter(){
           this.filters.splice(0);
           this.fetchData();
       },
       creFilter(){

           this.fetchNewData();

       },
       addItem(){
           let vm = this;
           const qs = require ('qs');
           vm.newItem.depart_milleage = vm.milleage;
           vm.newItem.return_milleage = vm.milleage2;
           vm.newItem.total_milleage = vm.totalMilleage;
           axios.post('/api/log/create',qs.stringify({
              log:vm.newItem,
              row:vm.totalRow
            }))
            .then(response => {

                vm.cars = response.data.data;
                Swal.fire(
                    'Created!',
                    'Data has been created',
                    'success'
                  )
                  this.fetchData();

            })
            .catch(function(error){
                console.log(error);
            })

       },
       updateItem(){
           let vm = this;
           const qs = require ('qs');
           vm.editItem.depart_milleage = vm.milleage;
           vm.editItem.return_milleage = vm.milleage2;
           vm.editItem.total_milleage = vm.totalMilleage;
           axios.post('/api/log/update',qs.stringify({
              log:vm.editItem,
              row:vm.totalRow
            }))
            .then(response => {

                vm.cars = response.data.data;
                Swal.fire(
                    'Updated!',
                    'Data has been update',
                    'success'
                  )
                  this.fetchData();
                  this.edit_toggle = 'none';

            })
            .catch(function(error){
                console.log(error);
            })

       },

   },

}
</script>

<style lang="scss" scoped>
 table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
  td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

</style>
